<!DOCTYPE html>
<html>
    <script src="https://use.fontawesome.com/34fdaa7d78.js"></script>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
		<style>
body {
  background-image: url('/static/bg1.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
    </head>
    <body>

        <h1>MALICIOUS URL DETECTOR</h1><br>
        <h2>The Requested URL:</h2>
        <h2>{{ urlr }}</h2>
        <h2>is</h2>
        <h2 style="color:{{ urlcol1 }}">{{ urlres }}</h2>
        <h2>Interested in looking up another URL?</h2>
        <form id="f1" method="POST" action="http://localhost:5000/urllookup">
            <input type='text' class="urlsearch" name="nm" placeholder="Enter the URL"><br><br>
            <input type="submit" class="submitbutton" name="sub" value="Search">
            <input type="submit" class="submitbutton" name="asub" value="Advanced Search">
        </form><br><br><br><br><br>
        <div class="indgd">
            <div
            class="indimg">
            <img class="dispimg"
            src="/static/adv_search2.gif"
            >
            </div>
            <div class="indtext">
                Advanced Search
                </div>
          </div><br><br><br><br>
          <div class="indgd">
            <div
            class="indimg">
            <img class="dispimg"
            src="/static/mal_url.gif"
            >
            </div>
            <div class="indtext">
                What Is A Malicious URL
                </div>
          </div><br><br><br><br>
          <div class="indgd">
            <div
            class="indimg">
            <img class="dispimg"
            src="/static/mal_url1.gif"
            >
            </div>
            <div class="indtext">
                Identifying A Malicious URL
                </div>
          </div>
    </body>
</html>